<div class="socials">
    <ul>
        <li><a href="{{ site.metafields.contact_details.facebook }}" class="fbsharelink"><i class="ico-facebook"></i></a></li>
        <li><a href="{{ site.metafields.contact_details.google_plus }}" class="plussharelink"><i class="ico-google"></i></a></li>
        <li><a href="mailto:?Subject=Woolacombe holiday cottages&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20"><i class="ico-email"></i></a></li>
        <li><a href="{{ site.metafields.contact_details.pinterest }}" class="pinterestsharelink"><i class="ico-pinterest"></i></a></li>
        <li><a href="{{ site.metafields.contact_details.twitter }}" class="twittersharelink"><i class="ico-twitter"></i></a></li>
    </ul>
</div><!-- /.socials -->