---
title: About
slug: about
position: 3
listed: true
published: true
is_layout: false
editable_elements:
  main/Page Header/Header Image: "/samples/pages/intro-home-image-1.jpg"
  main/Page Header/Page Heading: Get to know us
  main/Content/Content Title: About Woolacombe Holiday Cottages
  main/Content/Page Content: "<h4>\r\n\r\n<strong>Welcome to woolacombe-cottages.co.uk</strong>\r\n\r\n</h4>\r\n\r\n\t\t\t\t\t\t\t\t\t\t<p></p>\r\n\r\nWe
    are a family run business and have been helping people explore and enjoy North
    Devon for over 15 years. Browse our selection of holiday accommodation in North
    Devon and feel free to ask any questions, we are here to help you create your
    perfect holiday and experience all that North Devon has to offer (and there is
    a lot!).\r\n\r\n<p></p><div>\r\n\r\n<p><strong>Woolacombe Cottages</strong>&nbsp;are
    proud to offer an extensive portfolio of quality properties scattered around North
    Devon's Award Winning Golden Coastline- including <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-woolacombe.php\">Woolacombe</a>,<a
    rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-croyde.php\">Croyde</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-georgeham.php\">Georgeham</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-putsborough.php\">Putsborough</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-saunton.php\">Saunton</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-braunton.php\">Braunton</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-ilfracombe.php\">Ilfracombe</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-leebay.php\">Lee
    Bay</a>&nbsp;and <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-westdown.php\">West
    Down</a>. Our properties range from Romantic one bedroom rural retreats to Stylish
    Six Bedroom Seafront Villas and clusters of cottages to accommodate larger bookings.
    Each of our properties are situated within easy reach of all that this un spoilt
    corner has to offer...</p><p>North Devon is not just about the beauty of the more
    popular beaches and resorts, for example, Croyde, Woolacombe Beach and Ilfracombe.
    We have <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-croyde.php\"
    title=\"self catering cottages in Croyde\">self catering cottages in Croyde</a>,
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-woolacombe.php\"
    title=\"accommodation in Woolacombe\">accommodation in Woolacombe</a>&nbsp;and
    <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-ilfracombe.php\"
    title=\"cottages in Ilfracombe\">cottages in Ilfracombe</a>, but we also have
    holiday accommodation in the lesser known areas. We have <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-leebay.php\"
    title=\"cottages in Lee Bay\">cottages in Lee Bay</a>, with it's ancient woodland
    and quiet, rocky beach, perfect for launching a kayak, and <a rel=\"nofollow\"
    href=\"http://www.woolacombe-cottages.co.uk/cottages-in-westdown.php\" title=\"cottages
    in Westdown\">cottages in Westdown</a>, deep in the Devon countryside with farms
    and many bridleways and footpaths crisscrossing the fields and rolling hills.
    Not forgetting the picturesque villages, <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk/cottages-in-braunton.php\"
    title=\"cottages in Braunton\">cottages in Braunton</a>&nbsp;and <a rel=\"nofollow\"
    href=\"http://www.woolacombe-cottages.co.uk/cottages-in-georgeham.php\" title=\"cottages
    in Georgeham\">cottages in Georgeham</a>. Braunton is host to numerous quality
    bistros, restaurants, cafes and pubs and many surf shops - great accommodation
    in great locations throughout North Devon!</p><p>Relax in one of our <a rel=\"nofollow\"
    href=\"http://www.woolacombe-cottages.co.uk/cottages-in-saunton.php\" title=\"cottages
    in Saunton\">cottages in Saunton</a>&nbsp;and experience all that the area has
    to offer. Saunton golf course, a links golf course, is set amongst Braunton Burrows,
    designated as a bio-reserve, and only 10-20 minutes walk from the magnificent
    Saunton beach. Crow Point, which borders the estuary, is a haven in itself, you
    can sometimes spend hours exploring this area and see only a handful of people
    at most - immerse yourself in the ambience of unforgettable North Devon! Our holiday
    cottages in Saunton are central to all of these wonderful locations.</p><p>And
    it's not just about summer; if you can, experience North Devon out of season,
    in spring, autumn, or winter. Spring in North Devon is buzzing with new life and
    expectancy, watch the lambs bouncing around the green fields. After a blustery
    walk on the beach in autumn or winter, relax in front of a fire in one of our
    cozy cottages, or next to an open fire in one of the many charming country pubs.</p><p>These
    are just some examples of what you can see and do in North Devon. With our experience
    and passion for North Devon, contact us now and we will create your perfect holiday
    in one of our North Devon self catering cottages based on your exact requirements.</p>\r\n\r\n<br></div>"
  main/Content/Enable Supporting Information: 'true'
  main/Content/Supporting Info Header: Other Useful Information
  main/Content/Supporting Info Content: <ul><li>Conditions of booking, <a rel="nofollow"
    href="#">click here</a></li><li>For the history of the area around Woolacombe,
    <a rel="nofollow" href="#">click here</a></li></ul>
---
{% extends layouts/page %}




