---
title: Faq
slug: faq
position: 6
listed: true
published: true
is_layout: false
editable_elements:
  main/Page Header/Header Image: "/samples/pages/intro-home-image-1.jpg"
  main/Page Header/Page Heading: Frequently asked questions
  main/Content/Content Title: FAQ
  main/Content/Page Content: "<ul>\r\n\t\t\t\t\t\t\t\t\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    How do I find the property which best suits my criteria?</h4>\r\n\r\n\t\t\t\t\t\t\t\t\t\t<p>Select
    any drop down menus on the left hand margin which match your criteria. E.G. number
    of bedrooms, preferred location. A choice of properties will then be displayed.
    Alternatively call (01271) 870846, we will be happy to discuss your requirements
    and recommend suitable properties.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\r\n\t\t\t\t\t\t\t\t\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    How do I make a booking?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>Please
    call (01271) 870846 or e-mail info@woolacombe-cottages.co.uk to confirm bookings,
    we will reserve the property and record your contact details. A deposit of £75.00
    per property per week is required to secure a booking.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\r\n\t\t\t\t\t\t\t\t\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    Are there any additional charges?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>A
    booking fee of £15.00 is charged. There are no surcharges for debit /credit cards.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\r\n\t\t\t\t\t\t\t\t\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    Can I Bring My Pets?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>A
    selection of properties are pet friendly. This will be clarified in the property
    description. Alternatively please call, we will be happy to recommend pet friendly
    accommodation. Please note some properties only welcome one pet, please clarify
    how many pets you have when booking. £15.00 per pet (unless the property information
    states otherwise on website)</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    Are Short Breaks Available?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>Short
    Breaks are available on nearly all our properties, please call or e-mail us with
    your requirements, number of people in your party and dates required, we will
    be happy to calculate a price accordingly.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    What days do your properties change-over?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>The
    change-over day varies, usually either Fridays or Saturdays. We are happy wherever
    possible to offer flexibility with arrivals/ departure days.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\t<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.
    Can I book for more than a week?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>We
    aim to provide flexibility and offer accommodation around your criteria so wherever
    possible we are happy to adjust the duration of your holiday to your criteria.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Do
    any properties allow smoking?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>Woolacombe
    Cottages operate a NO SMOKING policy in all our properties.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Do
    any properties allow smoking?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>Woolacombe
    Cottages operate a NO SMOKING policy in all our properties.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Can
    I bring bikes / surfboards?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>ou
    are welcome to bring bikes / surfboards etc. Please confirm when searching for
    a property if you require additional storage. Alternatively we have links with
    many hire companies.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Are
    Cots/ highchairs available?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>Cots
    and highchairs are available for hire. Should you wish to hire either or both,
    please tick the appropriate boxes on your booking form.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Can
    I have groceries delivered to the property?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>Deliveries
    are welcome, we encourage our guests to support local companies who offer pre-ordered
    deliveries to our properties.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Which
    properties are best for guests with restricted mobility?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>A
    selection of our properties are single storey or have been adapted to cater for
    guests with restricted mobility. Please call us for a list of recommended properties.\r\nPlease
    inform us at the time of booking of any disability in order for us to ensure the
    selected property is suitable for your requirements</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.When
    is my final payment due?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>The
    balance will be due six weeks prior to arrival..</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.What
    is the cancellation policy?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>We
    reckoned all our guests have holiday cancellation insurance, but do not insist
    on any one policy, as many people have private insurance. Should guests need to
    cancel a booking, please notify us at the earliest opportunity. Woolacombe Cottages
    will re-advertise the property and endeavour to re-let the holiday. Should this
    not be possible, the guests will be still be liable for the final payment. In
    many cases this will be covered by cancellation insurance. Should the agents re-let
    the holiday at a reduced rate, the original guests will be liable for the difference.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n<li>\r\n\t\t\t\t\t\t\t\t\t\t<h4>Q.Are
    linen and towels included?</h4>\r\n\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t<p>All
    bookings exclude hand, bath and beach towels. Some properties have linen included
    in this price. Please check at the time of booking.</p>\r\n\t\t\t\t\t\t\t\t\t</li>\r\n\t\t\t\t\t\t\t\t</ul>"
---
{% extends layouts/faq %}




