---
title: 'Local Businesses & Useful Links '
slug: local-businesses-and-useful-links
position: 100
listed: true
published: false
is_layout: false
editable_elements:
  main/Page Header/Header Image: "/samples/pages/intro-home-image.jpg"
  main/Page Header/Page Heading: Local Businesses & Useful Links
  main/Content/Content Title: Links
  main/Content/Page Content: "<p>\r\n\r\n</p><h3>Restaurants in and around Woolacombe
    and North Devon</h3><p><a rel=\"nofollow\" target=\"_blank\" href=\"http://www.noelcorston.com/\"
    class=\"dgreen\"><b>Noel Corston</b></a><br>Highly acclaimed restaurant in Woolacombe.</p><div
    class=\"cleardiv hr_sml\"></div><h3>Activities in and around Woolacombe and North
    Devon</h3><p><a rel=\"nofollow\" target=\"_blank\" href=\"http://www.surfingcroydebay.co.uk/\"
    class=\"dgreen\"><b>Surfing Croyde Bay</b></a><br>Surf lessons at Croyde Bay North
    Devon. Learn to surf at the south wests premier surf school.</p><p><a rel=\"nofollow\"
    target=\"_blank\" href=\"http://www.nickthorn.com/\" class=\"dgreen\"><b>Nick
    Thorn</b></a><br>Surfing lessons and tuition on Woolacombe Beach with the Nick
    Thorn surf school, one to one and group tuition.</p><p><a rel=\"nofollow\" target=\"_blank\"
    href=\"http://www.ilfracombeprincess.co.uk/\" class=\"dgreen\"><b>Ilfracombe Princess</b></a><br>Spectacular
    wildlife and coastal cruises aboard \"Ilfracombe Princess\" one of the most technologically
    advanced passenger vessels in the U.K.</p><p><a rel=\"nofollow\" target=\"_blank\"
    href=\"http://www.pointbreaks.com/\" class=\"dgreen\"><b>Point Breaks</b></a><br>Learn
    to surf at some of the UKs top surfing spots; go coasteering around beautiful
    and rugged coastline; kayak sheltered bays or open water and learn to wakeboard
    or waterski; you can do all of this with Point Breaks...</p><p><a rel=\"nofollow\"
    target=\"_blank\" href=\"http://www.croyde-surf-hire.co.uk/\" class=\"dgreen\"><b>Croyde
    Surf Hire</b></a><br>Croyde Surf Hire, from The Little Pink Shop, our family run
    surfshop, has been hiring surfboards and wetsuits in Croyde Bay since 1986</p><div
    class=\"cleardiv hr_sml\"></div><h3>Other Links</h3><p><a rel=\"nofollow\" target=\"_blank\"
    href=\"http://www.croydebedandbreakfast.co.uk/\" class=\"dgreen\"><strong>Bed
    and breakfast in Croyde</strong></a><br>Relaxing and centrally located bed and
    breakfast, Croyde Bay</p><p><strong><a rel=\"nofollow\" target=\"_blank\" href=\"http://www.westcountrylettings.co.uk/\"
    class=\"dgreen\">Westcountrylettings</a></strong><br>Residential rental property
    in North Devon</p><p><strong><a rel=\"nofollow\" target=\"_blank\" href=\"http://www.selectcottages.com/lake-district/luxury-lake-district-cottages.html\"
    class=\"dgreen\">Lake District Cottages</a></strong><br>Four and five star rated
    holiday cottages in the Lake District</p>\r\n\r\n<br><p></p>"
  main/Content/Enable Supporting Information: 'false'
  main/Content/Supporting Info Header: ''
  main/Content/Supporting Info Content: ''
---
{% extends "layouts/page" %}