<section class="form-section" style="border:1px solid red;">
  <header class="form-section-head">
    <div class="row">
      <div class="twelve columns">
        <h4>Available Extras</h4>
      </div>
      <!-- /.twelve columns --> 
    </div>
    <!-- /.row --> 
  </header>
  <div class="form-section-body">
    <div class="row">
      <div class="six columns">
        <label for="adultscount" class="form-label">Number of adults:</label>
        <select name="adultcount" id="adultcount" class="field" tabindex="">
          <option value="sel" class="sel">Please select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10+</option>
        </select>
      </div>
      <!--\.six columns-->
      
      <div class="six columns">
        <label for="adultscount" class="form-label">Number of children:</label>
        <select name="childcount" id="childcount" class="field" tabindex="">
          <option value="sel" class="sel">Please select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10+</option>
        </select>
      </div>
      <!--\.six columns--> 
    </div>
    <!--\.row-->
    <div class="row">
      <div class="six columns">
        <h6 class="inline popupLabel">Party size not confirmed</h6>
        <div class="no-size popupLabel">
          <input type="checkbox" name="partysizetba" id="no-size-popup" value="1">
          <label for="no-size-popup"></label>
        </div>
      </div>
      <!--\.six columns--> 
    </div>
    <!-- /.row --> 
  </div>
  <!--\.form-section-body--> 
</section>
