---
title: Privacy Policy
slug: privacy-policy
position: 7
listed: true
published: true
is_layout: false
editable_elements:
  main/Page Header/Header Image: "/samples/pages/intro-home-image-1.jpg"
  main/Page Header/Page Heading: Our privacy policy
  main/Content/Content Title: Privacy Policy
  main/Content/Page Content: "<p>\r\n\r\n</p><h3>Privacy</h3><p>Visitors to <a rel=\"nofollow\"
    href=\"http://www.woolacombe-cottages.co.uk\" title=\"Link: http://www.woolacombe-cottages.co.uk\">www.woolacombe-cottages.co.uk</a>
    are assured that we will not collect any personal data from you, unless you specifically
    ask us to contact you.</p><p>We will not disclose your e-mail address to a third
    party and nor will we send you unsolicited e-mails promoting third party services.</p><p>If
    you have any questions about our privacy policy then e-mail<a rel=\"nofollow\"
    href=\"mailto:info@woolacombe-cottages.co.uk\">&nbsp;info@woolacombe-cottages.co.uk</a></p><h3>Cookies</h3><p>We
    respect your privacy and endeavour to ensure that our use of cookies is not intrusive.
    If you continue to use this site we will assume that you agree to us using cookies.</p><p>More
    Info</p><p>A “cookie” is a small data text file that is placed in your browser
    and allows <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk\">www.woolacombe-cottages.co.uk</a>
    to recognize you each time you visit this site (customisation etc). Cookies themselves
    do not contain any personal information, and <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk\">www.woolacombe-cottages.co.uk</a>
    does not use cookies to collect personal information. Cookies may also be used
    by 3rd party content providers such as newsfeeds.</p><p>Find out more about cookies
    <a rel=\"nofollow\" target=\"_blank\" href=\"http://www.aboutcookies.org/Default.aspx?page=1\">here</a>.</p><p><a
    rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk\" title=\"Link: http://www.woolacombe-cottages.co.uk\">www.woolacombe-cottages.co.uk</a>
    use Google Analytics (like many other websites) which is a service provided by
    Google. They gather anonymous data of how people are using this site and then
    provide us with visitor statistics, details of page views etc etc. You can opt-out
    of being tracked by Google Analytics <a rel=\"nofollow\" target=\"_blank\" href=\"http://tools.google.com/dlpage/gaoptout\">here</a>.</p><p>You
    can also disable and delete cookies via your Browser settings. Find out more <a
    rel=\"nofollow\" target=\"_blank\" href=\"http://www.aboutcookies.org/Default.aspx?page=1\">here</a>.</p><p>Remember
    The Risks Whenever You Use The Internet</p><p>While we do our best to protect
    your personal information, we cannot guarantee the security of any information
    that you transmit to <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk\">www.woolacombe-cottages.co.uk</a>
    and you are solely responsible for maintaining the secrecy of any passwords or
    other account information. In addition other Internet sites or services that may
    be accessible through <a rel=\"nofollow\" href=\"http://www.woolacombe-cottages.co.uk\">www.woolacombe-cottages.co.uk</a>
    have separate data and privacy practices independent of us, and therefore we disclaim
    any responsibility or liability for their policies or actions.</p><p>Please contact
    those vendors and others directly if you have any questions about their privacy
    policies.</p><p>For any other information please email us <a rel=\"nofollow\"
    href=\"mailto:info@woolacombe-cottages.co.uk\">info@woolacombe-cottages.co.uk</a></p>\r\n\r\n<br><p></p>"
  main/Content/Enable Supporting Information: 'false'
  main/Content/Supporting Info Header: ''
  main/Content/Supporting Info Content: ''
---
{% extends layouts/page %}




