---
title: Search
slug: search
position: 99
listed: true
published: true
is_layout: false
---
<div class="popup popup-search">
	<div class="popup-body">
		<div class="form form-search">
			<form action="?" method="post">
				<div class="form-head">
					<h3>Please select search criteria</h3>
				</div><!-- /.form-head -->
				<div class="form-body">
					<div class="form-row">
						<h4>
							<i class="ico-calendar"></i>
							<span>Arrival date</span>
						</h4>
						<div class="form-controls form-controls-block">
							<div class="calendar">
							</div><!-- /.calendar -->
						</div><!-- /.form-controls -->
					</div><!-- /.form-row -->
					<div class="form-row">
						<label for="field-3-days" class="form-label">Duration:</label>
						<div class="form-controls">
							<ul class="list-radios">
								<li>
									<div class="radio">
										<input type="radio" name="duration" value="3" id="field-3-days" autocomplete="off">
										<label for="field-3-days">3 Nights</label>
									</div><!-- /.radio -->
								</li>
								<li>
									<div class="radio">
										<input type="radio" name="duration" value="4" id="field-4-days" autocomplete="off">
										<label for="field-4-days">4 Nights</label>
									</div><!-- /.radio -->
								</li>
								<li>
									<div class="radio">
										<input type="radio" name="duration" value="7" id="field-7-days" autocomplete="off">
										<label for="field-7-days">7 Nights</label>
									</div><!-- /.radio -->
								</li>
							</ul><!-- /.list-radios -->
						</div><!-- /.form-controls -->
					</div><!-- /.form-row -->
					<div class="form-row">
						<h4>
							<i class="ico-user"></i>
							<span>People</span>
						</h4>
						<label for="field-1-3" class="form-label">Party size:</label>
						<div class="form-controls">
							<ul class="list-radios list-radios-secondary">
								<li>
									<div class="radio">
										<input type="radio" name="partysizemax" value="3" id="field-1-3">
										<label for="field-1-3">1-3</label>
									</div><!-- /.radio -->
								</li>
								<li>
									<div class="radio">
										<input type="radio" name="partysizemax" value="6" id="field-4-6">
										<label for="field-4-6">4-6</label>
									</div><!-- /.radio -->
								</li>
								<li>
									<div class="radio">
										<input type="radio" name="partysizemax" value="10" id="field-7-10">
										<label for="field-7-10">7-10</label>
									</div><!-- /.radio -->
								</li>
								<li>
									<div class="radio">
										<input type="radio" name="partysizemax" value="14" id="field-11-14">
										<label for="field-11-14">11-14</label>
									</div><!-- /.radio -->
								</li>
								<li>
									<div class="radio">
										<input type="radio" name="partysizemax" value="15" id="field-15+">
										<label for="field-15+">15+</label>
									</div><!-- /.radio -->
								</li>
							</ul><!-- /.list-radios -->
							<h6 class="inline popupLabel">Party size not confirmed</h6> 
			                 <div class="no-size popupLabel">         
			                    <input type="checkbox" name="partysizetba" id="no-size-popup" value="1"> 
			                    <label for="no-size-popup"></label>
			                 </div>

						</div><!-- /.form-comtrols -->
					</div><!-- /.form-row -->
				</div><!-- /.form-body -->
				<div class="form-actions">
					<button type="reset" class="button-reset">
						<i class="ico-close-alt"></i>
						<span>Clear filters</span>
					</button>
					<button type="submit" class="button search-by-location-basic">Search locations</button>
					<a href="#" class="close-popup">
						<i class="ico-close"></i>
						<span>Close and go home</span>
					</a>
				</div><!-- /.form-actions -->
			</form>
		</div><!-- /.form form-search -->
	</div><!-- /.popup-body -->
</div><!-- /.popup popup-search -->




