---
title: Thank You
slug: thank-you
position: 99
listed: true
published: false
is_layout: false
editable_elements:
  main/Page Header/Header Image: "/samples/pages/intro-home-image-1.jpg"
  main/Page Header/Page Heading: Thank You
  main/Content/Content Title: ''
  main/Content/Page Content: "<p>Thank You for you enquiry</p>"
  main/Content/Enable Supporting Information: 'false'
  main/Content/Supporting Info Header: ''
  main/Content/Supporting Info Content: ''
---
{% extends "layouts/page" %}


